h1, h2, h3{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
body{
    background-color: #25274D;
    color: #AAABB8;
}
.jumbotron {
    background-color: #5e81bc !important;
    color: #bdc3cc;
}